h1, h2 {
  font-family: Georgia, 'Times New Roman', serif;
}

h1 {
  background-color: #b9ded8;
  text-align: center;
}

h2 {
  background-color: #b9cfde;
}

.recipe-list, .description, .steps, .ingredients {
  font-family: Verdana, Tahoma, sans-serif;
}

.description, .steps, .ingredients {
  background-color: #c2c7f7;
}

.recipe-list, .description {
  font-size: 20px;
}

.steps, .ingredients {
  font-size: 18px;
}

img {
  height: 250;
  width: auto;
}

.recipe-list {
  list-style: none;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f9cbf2;
}

.recipe-item {
  background-color: #e9c6ff;
  padding: 10px;
  margin: 20px 0;
}